.new-arrival-heading {
    font-size: 32px;
    font-weight: 900;
}

.new-arrival-cards-parent {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.new-arrival-card {
    display: flex;
    flex-direction: column;
}

.new-arrival-card > img {
    width: 484px;
}

.new-arrival-card-description {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrival-card-description-name {
    font-size: 24px;
    font-weight: 600;
}