.community-section {
    margin: 100px 0px;
    background-color: #E5C643;
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 10px;
}

.community-section-title {
    font-size: 44px;
    text-align: center;
}

.community-section-description {
    font-size: 24px;
}

.community-input-parent {
    position: relative;   
    background-color: aquamarine; 
}

.community-section-email-input {
    border: none;
    height: 40px;
    padding: 0px 10px;
    border-radius: 7px;
}