* {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}

.section-header {
  font-size: 32px;
  font-weight: 900;
}

.margined-section {
  margin: 20px 100px;
}

@media screen and (max-width: 860px) {
  .margined-section {
    margin: 15px 50px;
  }
}

@media screen and (max-width: 540px) {
  .margined-section {
    margin: 7px 20px;
  }
}

/* ---------------------------------- Navigation CSS ---------------------------------- */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 100px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.task-name {
  font-weight: 900;
  font-size: 40px;
}

.logo > img {
  height: 30px;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list > li {
  padding: 0px 30px;
}

a {
  text-decoration: none;
  color: black;
}

.signup-btn {
  border-radius: 7px;
  color: white;
  background-color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.nav-breadcrumb {
  display: none;
}

@media screen and (max-width: 1120px) {
  .logo {
    gap: 4px;
  }

  .task-name {
    font-weight: 800;
    font-size: 22px;
  }

  .logo > img {
    height: 18px;
  }

  .nav-list > li {
    padding: 0px 10px;
  }
}

@media screen and (max-width: 860px) {
  nav {
    margin: 10px 50px;
  }

  .logo {
    gap: 6px;
  }

  .task-name {
    font-weight: 900;
    font-size: 24px;
  }

  .logo > img {
    height: 20px;
  }

  .nav-list {
    display: none;
  }

  .nav-breadcrumb {
    display: block;
  }
}

@media screen and (max-width: 540px) {
  nav {
    margin: 7px 45px;
  }
}

/* ---------------------------------- Hero CSS ---------------------------------- */

.hero-section {  
  display: flex;
  justify-content: space-evenly;
  background-color: #f4f6f5;
  border-radius: 60px;
  height: 784px;
}

.hero-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0px;
}

.hero-image {
  display: flex;
  align-items: end;
}

.hero-image > img {
  height: 90%;
}

.hero-text {
  font-size: 96px;
  line-height: 1.2;
  font-weight: 900;
  padding-left: 15px;
}

.hero-text-background {
  background-color: white;
  transform: skewY(-2deg);
}

.hero-text-background-yellow {
  background-color: #e6c744;
  transform: skewY(-2deg);
}

.hero-tagline {
  font-size: 25px;
  margin: 20px 0px;
}

.hero-btn {
  border: none;
  display: flex;
  background-color: black;
  color: white;
  font-size: 20px;
  border-radius: 7px;
  padding: 15px 25px;
  cursor: pointer;
}

@media screen and (max-width: 1500px) {
  .hero-section {
    height: 500px;
  }
  .hero-text {
    font-size: 56px;
    font-weight: 900;
    padding-left: 10px;
  }

  .hero-description {
    align-items: start;
    padding-left: 40px;
  }

  .hero-tagline {
    font-size: 18px;
  }

  .hero-btn {
    font-size: 16px;
    padding: 10px 20px;
  }
}

@media screen and (max-width: 1080px) {
  .hero-section {
    height: 400px;
  }
  .hero-text {
    font-size: 40px;
    font-weight: 900;
    padding-left: 7px;
  }

  .hero-description {
    align-items: start;
    padding-left: 30px;
  }

  .hero-tagline {
    font-size: 14px;
  }

  .hero-btn {
    font-size: 14px;
    padding: 5px 15px;
  }
}

@media screen and (max-width: 860px) {
  .hero-section {
    height: 300px;
  }
  .hero-text {
    font-size: 26px;
    font-weight: 900;
    padding-left: 7px;
  }

  .hero-description {
    padding-left: 20px;
  }

  .hero-tagline {
    display: none;
  }

  .hero-btn {
    font-size: 14px;
    margin-top: 20px;
    padding: 5px 15px;
  }
}

@media screen and (max-width: 640px) {
  .hero-section {
    height: 200px;
  }

  .hero-text {
    font-size: 16px;
    font-weight: 900;
    padding-left: 5px;
  }

  .hero-btn {
    font-size: 10px;
    margin-top: 10px;
    padding: 5px 8px;
    border-radius: 4px;
  }
}
/* ---------------------------------- Brands CSS ---------------------------------- */

.brand-section {
  background-color: #e6c744;
  margin: 50px 0px;
  width: 100%;
  height: 100px;
  overflow-x: hidden;
}

.brand-parent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow-x: scroll;
  scrollbar-width: none;
}

.brand-parent > .brand-logos {
  height: 50%;
  mix-blend-mode: multiply;
}


@media screen and (max-width: 840px) {
  .brand-section {
    height: 70px;
    margin: 25px 0px;
  }
}


/* ---------------------------------- New Arrivals CSS ---------------------------------- */

.section-header {
  font-size: 32px;
  font-weight: 900;
}

.new-arrival-cards-parent {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;  
  gap: 20px;
  overflow-x: scroll;
  scrollbar-width: none;
}

.new-arrival-card {
  display: flex;
  flex-direction: column;
}

.new-arrival-card > img {
  width: 484px;
}

.new-arrival-card-description {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrival-card-description-name {
  font-size: 24px;
  font-weight: 600;
}

@media screen and (max-width: 1080px) {
  .new-arrival-card > img {
    width: 300px;
  }

  .new-arrival-cards-parent {
    margin-top: 30px;
  }

  .section-header {
    font-size: 24px;
  }

  .arrival-card-description-name {
    font-size: 20px;
  }
}

@media screen and (max-width: 640px) {
  .new-arrival-card > img {
    width: 250px;
  }
  .new-arrival-cards-parent {
    margin-top: 15px;
  }

  .section-header {
    font-size: 20px;
  }
  .arrival-card-description-name {
    font-size: 16px;
  }
}

/* ---------------------------------- PayDay CSS ---------------------------------- */

.payday-section {
  margin: 150px 0px;
  height: 768px;
  background-color: #efd24b;
  display: flex;
  justify-content: space-around;
  align-items: end;
}

.payday-image {
  height: 80%;
}

.payday-description {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.payday-description-header {
  font-size: 96px;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.payday-description-title {
  padding-left: 10px;
}

.payday-description-background {
  background-color: white;
  transform: skewY(-2deg);
}

.payday-description-info {
  font-size: 24px;
}

.payday-bold-date {
  font-weight: bolder;
}

.payday-btn {
  border: none;
  background-color: black;
  color: white;
  width: 30%;
  border-radius: 7px;
  padding: 20px 30px;
  font-size: 16px;
  cursor: pointer;
}

/* ---------------------------------- Favourite CSS ---------------------------------- */

.youngs-favourite-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.youngs-favourite-card-parent {
  margin: 50px 0px;
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  scrollbar-width: none;
}

.youngs-favourite-image {
  min-width: 80%;
}

.youngs-favourite-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.youngs-favourite-card-content-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* ---------------------------------- Download CSS ---------------------------------- */

.download-section {
  display: flex;
  justify-content: space-around;
  height: 768px;
}

.download-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.download-section-title {
  font-size: 44px;
  font-weight: 900;
}

.download-section-description {
  font-size: 18px;
}

/* ---------------------------------- Community CSS ---------------------------------- */

.community-section {
  margin: 100px 0px 0px 0px;
  background-color: #e5c643;
  height: 560px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 20px;
}

.community-section-title {
  font-size: 44px;
  text-align: center;
}

.community-section-description {
  font-size: 24px;
}

.community-input-parent {
  position: relative;
}

.community-section-email-input {
  border: none;
  height: 50px;
  width: 450px;
  padding: 0px 20px;
  border-radius: 7px;
  font-size: 20px;
}

.community-input-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 100px;
  cursor: pointer;
  font-size: 20px;
}

/* ---------------------------------- Footer CSS ---------------------------------- */

footer {
  background-color: #000;
  color: #c2c8da;
  display: flex;
  height: 545px;
}

.footer-social-media {
  flex: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
  gap: 20px;
}

.footer-title {
  color: white;
  font-size: 44px;
  font-weight: 900;
}

.footer-description {
  font-size: 20px;
  font-weight: 300;
}

.footer-links {
  flex: 60%;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.footer-links {
  display: flex;
  padding-top: 150px;
  font-size: 20px;
}

.footer-links-child {
  flex: 33%;
}

.footer-links-title {
  color: white;
}

.footer-links-child > ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: none;
}

.footer-links-child > ul > li {
  margin: 0;
}
